
/*1-start*/
div.box
{
	width: 200px;
	height: 200px;
	background-color: chartreuse;
	
}

div.mini-box
{
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*1-stop*/

/*2-start*/


/*
div.przycisk{
	margin-top: 50px;
	width: 100px;
	height: 100px;
	background-color: aqua;
	border-radius: 50px;
	transition: all 0.5s;
}

div.przycisk i
{
	color: white;
	font-size: 50px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.5s;
}

div.przycisk:hover
{
	background-color: white;
	border: 1px solid aqua;
	color: aqua;
	
}

 

i.przycisk1{
	background-color: aqua;
	border-radius: 100px;
	padding: 20px;
	
}
*/

/*2-Stop*/


/*3-Start*/

div.gradient
{
	margin-top: 50px;
	width: 100%;
	height: 80px;
	background:-webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
}

/*3-Stop*/


/*4-Start*/
video.video
{
	width: 100%;
	height: 100vh;
}

@media all{
	video.video{
		width: 100%;
	}
}

/*4-Stop*/

/*5-start*/
.fa fa-flag-checkered
{
	font-size: 1.5em;
	margin-top: 50px;
	
}
li{
	list-style-type: none;
}

/*5-stop*/
