
/*1-start*/
div.box
{
	width: 200px;
	height: 200px;
	background-color: chartreuse;
	
}

div.mini-box
{
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*1-stop*/

/*2-start*/


/*
div.przycisk{
	margin-top: 50px;
	width: 100px;
	height: 100px;
	background-color: aqua;
	border-radius: 50px;
	transition: all 0.5s;
}

div.przycisk i
{
	color: white;
	font-size: 50px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.5s;
}

div.przycisk:hover
{
	background-color: white;
	border: 1px solid aqua;
	color: aqua;
	
}

 

i.przycisk1{
	background-color: aqua;
	border-radius: 100px;
	padding: 20px;
	
}
*/

/*2-Stop*/


/*3-Start*/

div.gradient
{
	margin-top: 50px;
	width: 100%;
	height: 80px;
	background:-webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
}

/*3-Stop*/


/*4-Start*/
video.video
{
	width: 100%;
	height: 100vh;
}

@media all{
	video.video{
		width: 100%;
	}
}

/*4-Stop*/

/*5-start*/
.fa fa-flag-checkered
{
	font-size: 1.5em;
	margin-top: 50px;
	
}
li.bezkropek 
{
	list-style-type: none;
}

/*5-stop*/
/*6-start*/
#contact .contact-form
{
	width: 100%;
	margin-top: 100px;
}


input[type="text"],
input[type="email"], 
textarea
{
	background-color: #2b4a64;
	color: #fff;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid  #2b4a64;
	padding: 10px 0px;
}

input[type="text"]:focus,
input[type="email"]:focus, 
textarea:focus
{

	border: 1px solid #fff;
	outline: none;
	background-color: #4e708c;
}

input[type="submit"]
{
	
	margin-top: 10px;
	background-color: #1ac056;
	padding: 15px 30px;
	text-transform: uppercase;
	font-weight: 300;
	border: 1px solid #fff;
	color: #fff;
	float: right;
}

input[type="submit"]:hover
{
	background-color: #fff;
	border: 1px solid #1ac056 ;
	color: #1ac056;
	cursor: pointer
}
::-webkit-input-placeholder 
{ 
	color:#f13471;
}
/*6-stop*/
/*7-start*/
a[href$=".doc"]
{
	color:red;
}

a[href$=".docx"]
{
	color:green;
}
a
{
	text-decoration: none;
}
/*7-stop*/
/*8-start*/
blackquote:lang(en)::before,
blackquote:lang(en)::after,
q:lang(en)::before,
q:lang(en)::after
{
	content: "*";
}

blackquote:lang(de)::before,
blackquote:lang(de)::after,
q:lang(de)::before,
q:lang(de)::after
{
	content: "\0022";
}

/*8-stop*/

