	#pudelko 
{
	width: 180px;
	height: 240px;
	margin: 0 auto;
	border: 3px dashed #000;
	background-color: #FDD700;
	perspective: 300px;
	margin-top: 250px;
}

#karta 
{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #EEE;
	text-align: center;
	transition: 1s;
	transform-style:preserve-3d;
}

#pudelko:hover>#karta 
{
	transform: rotateY(180deg);
}

#przod 
{
	position: absolute;
	width: 100%;
	height: 60%;
	color: #F00;
	font-size: 1.6em;
	background: url(../obrazek1.jpg) no-repeat;
	background-size: 100%;
	 backface-visibility:hidden;
}

#tyl 
{
	position: absolute;
	width: 50%;
	height: 30%;
	color: #FFF;
	font-size: 1.6em;
	background-color:#000;
	transform:rotateY(180deg);
	 backface-visibility:hidden;
}